In [10]:
import pandas as pd

In [11]:
from IPython.core.display import HTML

In [13]:
titles = pd.read_csv('titles.csv')

In [14]:
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

How many movies are listed in the titles dataframe

In [15]:
num_movies = titles.shape[0]
print("Number of movies:", num_movies)

Number of movies: 244914

What are the earliest two films listed in the titles dataframe

In [16]:
sorted_titles = titles.sort_values(by='year')
earliest_two_films = sorted_titles.head(2)
print(earliest_two_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

How many movies have the titles "Hamlet"

In [18]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)
print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 20

How many movies are titled "North by Northwest"

In [19]:
north_by_northwest_movies = titles[titles['title'] == 'North by Northwest']
num_north_by_northwest_movies = len(north_by_northwest_movies)
print("Number of movies titled 'North by Northwest':", num_north_by_northwest_movies)

Number of movies titled 'North by Northwest': 1

When was the first movie titled "Hamlet" made?

In [21]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
hamlet_movies_sorted = hamlet_movies.sort_values(by='year')
first_hamlet_movie = hamlet_movies_sorted.iloc[0]
print("Release year of the first movie titled 'Hamlet':", first_hamlet_movie['year'])

Release year of the first movie titled 'Hamlet': 1910

Listall of the "Treasure Island" movies from earliest to most recent

In [22]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']
treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
print(treasure_island_movies_sorted[['title', 'year']])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

How many movies are made in the year 1950?

In [23]:
movies_1950 = titles[titles['year'] == 1950]
num_movies_1950 = len(movies_1950)
print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

How many movies are made in the year 1960?

In [24]:
movies_1960 = titles[titles['year'] == 1960]
num_movies_1960 = len(movies_1960)
print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 1549

How many movies were made from 1950 through 1959?

In [25]:
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]
num_movies_1950s = len(movies_1950s)
print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

In what years has a movie titled"Batman" been released?

In [26]:
batman_movies = titles[titles['title'] == 'Batman']
batman_release_years = batman_movies['year'].unique()
batman_release_years.sort()
print("Years in which a movie titled 'Batman' was released:", batman_release_years)

Years in which a movie titled 'Batman' was released: [1943 1989]

How many roles were there in the movie "Inception"?

In [32]:
cast = pd.read_csv('cast.csv')

In [33]:
inception_cast = cast[cast['title'] == 'Inception']
num_roles_in_inception = len(inception_cast['character'].unique())
print('The roles in inception movie:',num_roles_in_inception)

The roles in inception movie: 56

How many roles in the movie "inception" are not ranked by n value?

In [35]:
inception_cast = cast[cast['title'] == 'Inception']
not_ranked_roles = inception_cast[pd.isnull(inception_cast['n'])]
num_not_ranked_roles = len(not_ranked_roles)
print('the movie "inception" are not ranked by n value:',num_not_ranked_roles)

the movie "inception" are not ranked by n value: 27

Display the cast of "North by Northwest" in their correct "n"-value order,ignoreing roles that did not earn a numeric "n" value

In [37]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & (cast['n'].notnull())]
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['n', 'name', 'character']])

            n                  name                    character
871426    1.0            Cary Grant           Roger O. Thornhill
3518333   2.0       Eva Marie Saint                  Eve Kendall
1457165   3.0           James Mason              Phillip Vandamm
3157232   4.0   Jessie Royce Landis              Clara Thornhill
356707    5.0        Leo G. Carroll                The Professor
3048272   6.0  Josephine Hutchinson                Mrs. Townsend
1695173   7.0           Philip Ober              Lester Townsend
1275337   8.0         Martin Landau                      Leonard
2447081   9.0         Adam Williams                     Valerian
1811387  10.0          Edward Platt              Victor Larrabee
665768   11.0     Robert Ellenstein                        Licht
2295714  12.0          Les Tremayne                   Auctioneer
464736   13.0       Philip Coolidge                    Dr. Cross
1508344  14.0         Patrick McVey               Sergeant Flamm
206471   15.0          Edward Binns               Captain Junket
1384780  16.0             Ken Lynch  Charley - Chicago Policeman

Display the entire cast,in "n" -order,of the 1972 film "Sleuth"

In [38]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted)

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

How many roles were credited in the silent 1921 version of Hamlet?

In [39]:
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
num_roles_hamlet_1921 = len(hamlet_1921_cast)
print(num_roles_hamlet_1921)

9

How many roles were credited in Branagh's 1996 Hamlet?

In [40]:
hamlet_1996_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]
num_roles_hamlet_1996 = len(hamlet_1996_cast)
print(num_roles_hamlet_1996)

54

How many "Hamlet" roles have been listed in all film credits through history?

In [41]:
hamlet_roles = cast[cast['title'] == 'Hamlet']
num_hamlet_roles = len(hamlet_roles)
print(num_hamlet_roles)

342

How many people have played an "Ophelia"?

In [42]:
ophelia_roles = cast[cast['character'] == 'Ophelia']
num_ophelia_actors = len(ophelia_roles['name'].unique())
print(num_ophelia_actors)

115

How many people have played a role called "The Dude"?

In [43]:
dude_roles = cast[cast['character'] == 'The Dude']
num_dude_actors = len(dude_roles['name'].unique())
print(num_dude_actors)

19

How many people have played a role called "The Stranger"?

In [44]:
stranger_roles = cast[cast['character'] == 'The Stranger']
num_stranger_actors = len(stranger_roles['name'].unique())
print(num_stranger_actors)

202

How many roles has Sidney Poitier played throughout his career?

In [45]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
num_sidney_poitier_roles = len(sidney_poitier_roles)
print(num_sidney_poitier_roles)

43

How many roles has Judi Dench played?

In [46]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']
num_judi_dench_roles = len(judi_dench_roles)
print(num_judi_dench_roles)

55

List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [47]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(cary_grant_supporting_roles_1940s_sorted[['year', 'title', 'character']])

        year             title    character
871423  1940  My Favorite Wife   Nick Arden
871433  1941    Penny Serenade  Roger Adams

List the leading roles that Cary Grant played in the 1940s in order by year

In [48]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print(cary_grant_leading_roles_1940s_sorted[['year', 'title', 'character']])

        year                                 title  \
871448  1940               The Howards of Virginia
871407  1940                       His Girl Friday
871450  1940                The Philadelphia Story
871438  1941                             Suspicion
871452  1942                  The Talk of the Town
871429  1942                 Once Upon a Honeymoon
871398  1943                     Destination Tokyo
871422  1943                             Mr. Lucky
871430  1944                      Once Upon a Time
871390  1944                  Arsenic and Old Lace
871425  1944             None But the Lonely Heart
871424  1946                         Night and Day
871427  1946                             Notorious
871444  1947      The Bachelor and the Bobby-Soxer
871445  1947                     The Bishop's Wife
871421  1948  Mr. Blandings Builds His Dream House
871402  1948          Every Girl Should Be Married
871411  1949                I Was a Male War Bride

                                   character
871448                           Matt Howard
871407                          Walter Burns
871450                    C. K. Dexter Haven
871438                      Johnnie Aysgarth
871452                          Leopold Dilg
871429                 Patrick 'Pat' O'Toole
871398                         Capt. Cassidy
871422  Joe Adams -posing as Joe Bascopolous
871430                           Jerry Flynn
871390                     Mortimer Brewster
871425                            Ernie Mott
871424                           Cole Porter
871427                                Devlin
871444                           Dick Nugent
871445                                Dudley
871421                         Jim Blandings
871402                     Dr. Madison Brown
871411                 Captain Henri Rochard

How many roles were available for actors in the 1950s?

In [49]:
roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
num_roles_1950s = len(roles_1950s)
print(num_roles_1950s)

215471

How many roles were available for actresses in the 1950s?

In [50]:
actress_roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]
num_actress_roles_1950s = len(actress_roles_1950s)
print(num_actress_roles_1950s)

57733

How many leading roles (n=1) were available from the beginning of film history through 1980?

In [51]:
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]
num_leading_roles_until_1980 = len(leading_roles_until_1980)
print(num_leading_roles_until_1980)

65140

How many non-leading roles were available through from thebeginning of film history through 1980?

In [52]:
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]
num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)
print(num_non_leading_roles_until_1980)

1117667

How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [53]:
roles_without_numeric_n_until_1980 = cast[(cast['n'].isnull()) & (cast['year'] <= 1980)]
num_roles_without_numeric_n_until_1980 = len(roles_without_numeric_n_until_1980)
print(num_roles_without_numeric_n_until_1980)

448347