1. Manipulate using a list.
  a)To add new elements to the end of the list
  b)To reverse elements in the list.
  c)To display the same list of elements multiple times
  d)To concatenate two list
  e)To sort the elements in the list in ascending order

In [ ]:
#a) To add new elements to the end of the list
ls=[41,53,82,11,4,9,3]
ls.append(24)
print(ls)

[41, 53, 82, 11, 4, 9, 3, 24]

In [ ]:
#b)To reverse elements in the list.
ls=[41, 53, 82, 11, 4, 9, 3, 24]
ls.reverse()
print("The reverse order of the list is",ls)

The reverse order of the list is [24, 3, 9, 4, 11, 82, 53, 41]

In [ ]:
#c)To display the same list of elements multiple times
ls="Priya "
new_ls = 5*ls
print(new_ls)

Priya Priya Priya Priya Priya

In [ ]:
#d)To concatenate two list
ls=[41, 53, 82, 11, 4, 9, 3, 24]
ls_1=["hello","priya"]
ls_2 = ls+ls_1
print("Concatination of two lists are ",str(ls_2))

Concatination of two lists are  [41, 53, 82, 11, 4, 9, 3, 24, 'hello', 'priya']

In [ ]:
#e)To sort the elements in the list in ascending order
ls=[41, 53, 82, 11, 4, 9, 3, 24]
ls.sort()
print("Sorted list is",ls )

Sorted list is [3, 4, 9, 11, 24, 41, 53, 82]

2.Write a python program to do in the tuples.
  a).Manipulate using tuples.
  b).To add ne elements to the end of the tuples.
  c).To reverse elements in the list
  d).To display the elements of the same tuple multiple times.
  e).To concatenate two tuples.
  f).To sort the elements in the list in ascending order

In [ ]:
#a).Manipulate using tuples.
# we can not change the values of the tuple becaude tuples are immutable or unchanged.So once a tuple is created ,we can not change its value

In [ ]:
#b).To add new elements to the end of the tuples.
tp = (6,3,5)
tp_append = tp + (8,7)
print(tp_append)
print(tp)

(6, 3, 5, 8, 7)
(6, 3, 5)

In [ ]:
#c).To reverse elements in the tuple
tp = (28,99,56,43)
tp = tp[::-1]
print("The reversed tuple is:",tp)

The reversed tuple is: (43, 56, 99, 28)

In [ ]:
#d).To display the elements of the same tuple multiple times.
tp=('priya ')
new_tp = 5 * tp
print(new_tp)

priya priya priya priya priya

In [ ]:
#e).To concatenate two tuples.
tp = (2,5,8,1)
tp_1 = (71,55,94)
res = tp + tp_1
print("The concatenation of the tuple is "+str(res))

The concatenation of the tuple is (2, 5, 8, 1, 71, 55, 94)

In [ ]:
#f).To sort the elements in the list in ascending order
tp=(67,34,96,13,6,24)
res = tuple(sorted(tp))
print("Sorted tuple is",res)

Sorted tuple is (6, 13, 24, 34, 67, 96)

3. Write a python program  to implement the following using list
  a).Create a list with integers(minimum 10 characters)
  b).How to display the last number in the list.
  c).Command for displaying the values from the list[0:4]
  d).Command for displaying the values from the list[2:]
  e).Command for displaying the values from the list[:6]

In [ ]:
#a).Create a list with integers(minimum 10 characters)
ls = [64,24,75,98,56,29,97,36,37,48,17,20]
print(ls)

[64, 24, 75, 98, 56, 29, 97, 36, 37, 48, 17, 20]

In [ ]:
#b).How to display the last number in the list.
ls = [64,24,75,98,56,29,97,36,37,48,17,20]
print(ls[-1])

20

In [ ]:
#c).Command for displaying the values from the list[0:4]
ls = [64,24,75,98,56,29,97,36,37,48,17,20]
print(ls[0:4])

[64, 24, 75, 98]

In [ ]:
#d).Command for displaying the values from the list[2:]
ls = [64,24,75,98,56,29,97,36,37,48,17,20]
print(ls[2:])

[75, 98, 56, 29, 97, 36, 37, 48, 17, 20]

In [ ]:
#e).Command for displaying the values from the list[:6]
ls = [64,24,75,98,56,29,97,36,37,48,17,20]
print(ls[:6])

[64, 24, 75, 98, 56, 29]

4.Write a python program :tuple1=(10,50,20,40,30)
  a).To display the elements 10 to 50 from tuple1
  b).To dispaly the length of the tuple1
  c).To find the minimum element from tuple1
  d).To add the elements in the tuple1
  e).To display the same tuple1 multiple times

In [ ]:
tuple1=(10,50,20,40,30)
print(tuple1)

(10, 50, 20, 40, 30)

In [ ]:
#a).To display the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
print(tuple1[0],tuple1[1])

10 50

In [ ]:
#b).To dispaly the length of the tuple1
tuple1=(10,50,20,40,30)
print(len(tuple1))

5

In [ ]:
#c).To find the minimum element from tuple1
tuple1=(10,50,20,40,30)
print(min(tuple1))

10

In [ ]:
#d).To add the elements in the tuple1
tuple1=(10,50,20,40,30)
print(sum(tuple1))

150

In [ ]:
#e).To display the same tuple1 multiple times
tuple1=(10,50,20,40,30)
print(3*(tuple1))

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

5.Write a python program:
  a).to calculate the length of a string
  b).to reverse words in a string
  c).to display the same string multiple times
  d).To concatenate two strings
  e).Str = "South India", using string slicing to display "India"

In [ ]:
#a).to calculate the length of a string
s = "Priyanka"
print(len(s))

8

In [ ]:
#b).to reverse words in a string
s = "Priyanka"
print(s[::-1])

aknayirP

In [ ]:
#c).to display the same string multiple times
s = "Priyanka "
print(3*s)

Priyanka Priyanka Priyanka

In [ ]:
#d).To concatenate two strings
s1 = "priyanka "
s2 = "Gunda"
print(s1+s2)

priyanka Gunda

In [ ]:
#e).Str = "South India", using string slicing to display "India"
str = "South India"
print(str[6:])

India

6.Perform the following
  a).creating the dictionary.
  b).Accessing values and keys in the dictionary
  c).Updating the dictionary using a function
  d).Clear and delete the dictionary values

In [ ]:
#a).creating the dictionary.
d = {'name':'Priya', 'age':22, 'city': 'Guntur'}
print(d)

{'name': 'Priya', 'age': 22, 'city': 'Guntur'}

In [ ]:
#b).Accessing values and keys in the dictionary
d = {'name':'Priya', 'age':22, 'city': 'Guntur'}
print("Name:",d['name'])

Name: Priya

In [ ]:
#c).Updating the dictionary using a function
d = {'name':'Priya', 'age':22, 'city': 'Guntur'}
d['age'] = 21
print('updated dictionary' , d)

updated dictionary {'name': 'Priya', 'age': 21, 'city': 'Guntur'}

In [ ]:
#d).Clear and delete the dictionary values
d = {'name':'Priya', 'age':22, 'city': 'Guntur'}
d.clear()
print(d)

{}

In [ ]:
d = {'name':'Priya', 'age':22, 'city': 'Guntur'}
del d

7.Python program to insert a number to any position in a list

In [ ]:
ls = [5,2,6,3,7,9]
num = 10
position = 4
ls.insert(position,num)
print("updated list:",ls)

updated list: [5, 2, 6, 3, 10, 7, 9]

8.Python program to delete an element from a list by index

In [ ]:
ls = [5,2,6,3,7,9]
index = 2
del ls[index]
print("updated list is ",ls)

updated list is  [5, 2, 3, 7, 9]

9.Write a program to dispaly a number from 1 to 100

In [ ]:
for number in range(1,101):
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

10.Write a python program to find the sum of the all items in a tuple

In [ ]:
tp = (4,7,1,8,9,4,7)
print(sum(tp))

40

11.Create a dictionary containing three lambda functions square,cube and square root.
a).eg: dict ={'Square':function for squaring, 'cube':function for cube, 'square root':function for square root}
b).Pass the values (input from the user to the function for the dictinoary respectively.
c).Then add the outputs of each function and print it

In [1]:
functions = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: x ** 0.5,
}
results = {}
for func_name, func in functions.items():
    value = float(input(f"Enter a value for {func_name}: "))
    results[func_name] = func(value)
total = sum(results.values())
print("Results:")
for func_name, result in results.items():
    print(f"{func_name}: {result}")
print("Total of all results:", total)

Enter a value for Square: 8
Enter a value for Cube: 4
Enter a value for Square Root: 9
Results:
Square: 64.0
Cube: 64.0
Square Root: 3.0
Total of all results: 131.0

12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls=["hello",'Dear','hOw','ARe','You']

In [ ]:
ls=["hello",'Dear','hOw','ARe','You']
res = [word for word in ls if word[1].isupper()]
print(res)

['hOw', 'ARe']

13.A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.(Use map and lambda functions)Formula:wMoon = (wEarth*GMoon)/GEarth
a). Weight of the people in kg
    *   WeightOnEarth = {'John':45,'Shelly':65, 'Marry':35}
b).Gravitational force on the moon : 1.622 m/s2
    *   GMoon = 1.622
c).Gravitational force on the Earth : 9.81m/s2
    *   GEarth = 9.81

In [2]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}
g_moon = 1.622
g_earth = 9.81
weight_on_moon = {name: (weight * g_moon) / g_earth for name, weight in weight_on_earth.items()}
print("Weight on the Moon:")
for name, weight in weight_on_moon.items():
    print(f"{name}: {weight:.2f} kg")

Weight on the Moon:
John: 7.44 kg
Shelly: 10.75 kg
Marry: 5.79 kg

**Control Structures**

1. Write a python program to find the first N Prime numbers

In [ ]:
N = int(input("Enter the value of N: "))
count = 0
num = 2

while count < N:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if (num % i) == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        count += 1
    num += 1

Enter the value of N: 5
2
3
5
7
11

2.Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic Salary,HRA,TA, and Da. Add these components to calculate the Gross Salary.Also,deduct10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [ ]:
basic_salary = float(input("Enter the Basic Salary: "))
hra = float(input("Enter the HRA: "))
ta = float(input("Enter the TA: "))
da = float(input("Enter the DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax Deduction (10%): {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter the Basic Salary: 2000
Enter the HRA: 500
Enter the TA: 20
Enter the DA: 60
Gross Salary: 2580.00
Tax Deduction (10%): 258.00
Net Salary: 2322.00

3. Write a python program to search for a string in the given list.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "fig", "grape"]

search_string = input("Enter a string to search for: ")

found = False

for item in string_list:
    if search_string.lower() == item.lower():
        found = True
        break


if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found in the list.")

Enter a string to search for: fig
'fig' was found in the list.

4.Write a Python function that accepts a string and calculate the number of upper-case letters and lower-case letters

In [3]:
def count_upper_lower_letters(input_string):
    upper_count = sum(1 for char in input_string if char.isupper())
    lower_count = sum(1 for char in input_string if char.islower())
    return upper_count, lower_count
input_string = input("Enter a string: ")
upper_count, lower_count = count_upper_lower_letters(input_string)
print(f"Number of uppercase letters: {upper_count}")
print(f"Number of lowercase letters: {lower_count}")

Enter a string: PriyaNkaGunDa
Number of uppercase letters: 4
Number of lowercase letters: 9

5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [ ]:

sum_even = 0
sum_odd = 0
a=int(input())
b=int(input())
for num in range(a,b):
    if num % 2 == 0:  # Check if the number is even
        sum_even += num
    else:
        sum_odd += num

# Display the sums
print(f"Sum of even numbers between a and b: {sum_even}")
print(f"Sum of odd numbers between a and b: {sum_odd}")

1
10
Sum of even numbers between a and b: 20
Sum of odd numbers between a and b: 25

6.Write a python program to print the table of any number

In [ ]:
number = int(input("Enter a number: "))

print(f"Multiplication table for {number} up to 10:")

for i in range(1, 10+ 1):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 8
Multiplication table for 8 up to 10:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

7.Write a python program to sum the first 10 prime numbers

In [ ]:
count = 0
num = 2
prime_sum = 0

while count < 10:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_sum += num
        count += 1
    num += 1

print(f"The sum of the first 10 prime numbers is: {prime_sum}")

The sum of the first 10 prime numbers is: 129

8.Write a python program to implement arithmetic operations using nested if statement

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")
if operation == '+':
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operation == '-':
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operation == '*':
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operation == '/':
    if num2 == 0:
        print("Error! Division by zero is not allowed.")
    else:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
else:
    print("Invalid operation. Please enter +, -, *, or /.")

Enter the first number: 8
Enter the second number: 2
Enter the operation (+, -, *, /): +
8.0 + 2.0 = 10.0

9.Write a python program to take the temperature in celsius and convert it to fahrenheit

In [ ]:

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 45
45.0 degrees Celsius is equal to 113.0 degrees Fahrenheit

10.Write a python program to find a maximum and minimum number.

In [ ]:
numbers = input("Enter a list of numbers separated by spaces: ").split()

numbers = [int(num) for num in numbers]

if not numbers:
    print("The list is empty.")
else:

    max_num = max(numbers)
    min_num = min(numbers)

    print(f"Maximum number: {max_num}")
    print(f"Minimum number: {min_num}")

Enter a list of numbers separated by spaces: 18 29 36 52 19 86 29 55
Maximum number: 86
Minimum number: 18

11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day ,60 minutes per day,60 seconds in a minute.

In [ ]:
# Define constants
d= 30
h= 24
m= 60
s= 60

# Calculate the total number of seconds
total= d* h* m *s

# Display the result
print(f"The number of seconds in a 30-day month is: {total}")

The number of seconds in a 30-day month is: 2592000

12.Write a program in python to print out the number of seconds in a year

In [ ]:
d= 365.25
h= 24
m = 60
s = 60

# Calculate the total number of seconds in a year
t= d * h * m * s

# Display the result
print(f"The number of seconds in a year is approximately: {t:.0f}")

The number of seconds in a year is approximately: 31557600

13. A high-speed train can travel at an average speed of 150mph, how long will it take a train travelleing at this speed to travel from london to glasgow which which is 414 miles away

In [ ]:
speed = 150
distance = 414
time_hours = distance / speed
print(f"It will take {time_hours} hours to travel from London to Glasgow at an average speed of 150 mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

14.write a python program  that defines a variable  called days_in_each_school_year and assign 192 to the variable.The program should then print out the total hour that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [ ]:
days_in_each_school_year = 192
total_school_days = (11 - 7 + 1) * days_in_each_school_year
hours_per_day = 6
total_hours_in_school = total_school_days * hours_per_day
print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

15.If the age of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and eldest and youngest of the three

In [ ]:
ram_age = int(input("Enter the age of Ram: "))
sam_age = int(input("Enter the age of Sam: "))
khan_age = int(input("Enter the age of Khan: "))
if ram_age > sam_age and ram_age > khan_age:
    eldest = "Ram"
elif sam_age > ram_age and sam_age > khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age < sam_age and ram_age < khan_age:
    youngest = "Ram"
elif sam_age < ram_age and sam_age < khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"
print(f"The eldest person is {eldest} with an age of {max(ram_age, sam_age, khan_age)} years.")
print(f"The youngest person is {youngest} with an age of {min(ram_age, sam_age, khan_age)} years.")

Enter the age of Ram: 20
Enter the age of Sam: 15
Enter the age of Khan: 27
The eldest person is Khan with an age of 27 years.
The youngest person is Sam with an age of 15 years.

16.Write a python program to rotate a list by right n times with and with out slicing technique.

In [8]:
def rotate_slicing(input_list, n):
    if not input_list:
        return input_list
    n = n % len(input_list)
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = int(input("Enter the number  within range of list length:"))
rotated_list = rotate_slicing(my_list, rotation_count)
print("Rotated list using slicing:", rotated_list)

Enter the number  within range of list length:2
Rotated list using slicing: [4, 5, 1, 2, 3]

In [7]:
def rotate_without_slicing(input_list, n):
    if not input_list:
        return input_list
    n = n % len(input_list)  # Ensure n is within the range of list length
    rotated_list = [None] * len(input_list)
    for i in range(len(input_list)):
        rotated_list[(i + n) % len(input_list)] = input_list[i]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = int(input("Enter the number  within range of list length:"))

rotated_list = rotate_without_slicing(my_list, rotation_count)
print("Rotated list without slicing:", rotated_list)

Enter the number  within range of list length:3
Rotated list without slicing: [3, 4, 5, 1, 2]

17.Python program to print the patterns given below:

a).1
   1 1
   1 2 1
   1 3 3 1
   1 4 6 4 1
   1 5 10 10 5 1
   1 6 15 20 15 6 1

In [ ]:
n=int(input())
for i in range(n):
  print(''*(n-i),end='')
  print(' '.join(map(str,str(11**i))))

6
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 6 1 0 5 1

b). *
    * *
    * * *
    * * * *
    * * * * *

In [ ]:
n=int(input())
myList = []
for i in range(1,n+1):
  myList.append("* "*i)
print("\n".join(myList))

5
*
* *
* * *
* * * *
* * * * *

c).           *
             *  *
            *  *  *
           *  *  *  *
          *  *  *  *  *
         *  *  *  *  *  *
        *  *  *  *  *  *  *

In [ ]:
n = int(input())
k = n-1
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

d). P
    PY
    PYT
    PYTH
    PYTHO
    PYTHON

In [ ]:
str=input("enter the string:")
len=len(str)
for i in range(len):
  for j in range(i+1):
    print(str[j],end="")
  print()

enter the string:PYTHON
P
PY
PYT
PYTH
PYTHO
PYTHON